---
import { About6 } from '@/components/about6';
import { CaseStudies6 } from '@/components/case-studies6';
import { Contact6 } from '@/components/contact6';
import { Cta20 } from '@/components/cta20';
import { Faq4 } from '@/components/faq4';
import { Hero4 } from '@/components/hero4';
import { Process2 } from '@/components/process2';
import { Stats6 } from '@/components/stats6';
import { Testimonial18 } from '@/components/testimonial18';
import Layout from '@/layouts/layout.astro';
import { getBasePath } from '@/utils/env';
import serialize from 'serialize-javascript';

const restaurantSchema = {
  '@context': 'https://schema.org',
};
---

<Layout
  title=''
  description=''
  canonical={getBasePath()}
  openGraph={{
    basic: {
      title: '',
      type: 'website',
      image: `${getBasePath()}/og-image.jpg`,
      url: getBasePath(),
    },
    optional: {
      description: '',
      siteName: '',
      locale: 'pt_BR',
    },
    image: {
      alt: '',
    },
  }}
  twitter={{
    card: 'summary_large_image',
    title: '',
    description: '',
    image: `${getBasePath()}/og-image.jpg`,
    imageAlt: '',
  }}
>
  <!-- JSON-LD Schema -->
  <script
    is:inline
    type='application/ld+json'
    set:html={serialize(restaurantSchema)}
    slot='head'
  />
  <main>
    <Hero4 />
    <About6 />
    <Stats6 />
    <CaseStudies6 client:visible />
    <Process2 client:visible />
    <Testimonial18 />
    <Faq4 client:visible />
    <Cta20 />
    <Contact6 />
  </main>
</Layout>
