---
import Layout from '@/layouts/layout.astro';
import { getBasePath } from '@/utils/env';
import serialize from 'serialize-javascript';

const restaurantSchema = {
  '@context': 'https://schema.org',
};
---

<Layout
  title=''
  description=''
  canonical={getBasePath()}
  openGraph={{
    basic: {
      title: '',
      type: 'website',
      image: `${getBasePath()}/og-image.jpg`,
      url: getBasePath(),
    },
    optional: {
      description: '',
      siteName: '',
      locale: 'pt_BR',
    },
    image: {
      alt: '',
    },
  }}
  twitter={{
    card: 'summary_large_image',
    title: '',
    description: '',
    image: `${getBasePath()}/og-image.jpg`,
    imageAlt: '',
  }}
>
  <!-- JSON-LD Schema -->
  <script
    is:inline
    type='application/ld+json'
    set:html={serialize(restaurantSchema)}
    slot='head'
  />
  <main>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate commodi
    expedita, exercitationem et natus, consectetur amet, libero consequatur
    ratione deleniti aspernatur fugiat distinctio officiis quod maxime
    perspiciatis inventore corporis cum!
  </main>
</Layout>
