---
import { Footer12 } from '@/components/footer12';
import { Navbar33 } from '@/components/navbar33';
import '@/styles/global.css';
import { SEO, type Props as SEOProps } from 'astro-seo';

interface Props extends SEOProps {
  title: string;
  description?: string;
}

const { ...props } = Astro.props as Props;
---

<html lang='pt-BR'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <meta name='apple-mobile-web-app-title' content='MyWebSite' />
    <link rel='manifest' href='/site.webmanifest' />
    <meta name='generator' content={Astro.generator} />
    <SEO {...props} />
    <slot name='head' />
  </head>
  <body>
    <Navbar33 />
    <slot />
    <Footer12 />
  </body>
</html>
